@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/************* Header *****************/
header{
    background: var(--lorem-container);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}
.div__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128px;
    height: 30px;
    background: var(--lorem-item);
}
.div__logo img:first-child{
    background: var(--lorem-item-box);
}
.div__logo img:last-child{
    width: 16px;
    height: 16px;
    background: var(--lorem-item-box);
}
.div__options {
    width: 120px;
    height: 24px;
    background: var(--lorem-item);
    display: flex;
    gap: 24px;
}
.div__options img{
    width: 24px;
    height: 24px;
    background: var(--lorem-item-box);
}.nav__storyTray {
    background: var(--lorem-container);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-4);
    width: 100%;
    height: 105.75px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: scroll;
    gap: 12px;
}
.nav__storyTray > .div__storyUser {
  
    background: var(--lorem-item);
    min-width: 72px;
    height: 97.75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div__storyUser-container{
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background: var(--color-gradient);
    padding: 3px;
    
}
.div__storyUser-container img{
    border: 3px solid white;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

.div__storyUser-container.states{
    background:transparent;
    padding: 0px;
    position: relative;
}

.states.div__storyUser-container::before{
    content: " ";
    position: absolute;
    border: none;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    background-image: url(../storage/img/button-plus.svg);
}


.div__storyUser span{
    background: var(--lorem-item-box);
    font-family: "sf-ui-display-thin";
    font-weight: 900;
    color: var(--color-1);
    width: 100%;
    height: 25.75px;
    font-size: 11.5px;
    text-align: center;
    padding: 6.18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.div__storyUser-container.states + span{
    font-weight: normal;
    color: var(--color-3);
}
/************* Main *****************/
.section__post{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 390px 212px;
    grid-template-areas: "avatarInfo postOptions"
                         "post post"
                         "postInfo postInfo";
}

.div__avatarInfo{
    grid-area: avatarInfo;
    background: var(--lorem-item);
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 13px;
}
.div__avatarInfo-container{
    width: 36px;
    height: 36px;
    padding: 2px;
    border-radius: 100%;
    background: var(--color-gradient);
}
.div__avatarInfo-container img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: contain;
    border: 2px solid var(--color-2);
}
.div__avatarInfo-perfil{

}
.div__avatarInfo-perfil h4{
    color: var(--color-1);
    background: var(--lorem-item-box);
    font-family: "sf-ui-display-bold";
    font-size: 12px;

}
.div__avatarInfo-perfil span{
    color: var(--color-1);
    background: var(--lorem-item-box);
    font-family: "sf-ui-display-thin";
    font-size: 11px;

}
.div__post{
    grid-area: post;
    background: var(--lorem-container);
    position: relative;
}
.div__post::before{
    content: url(../storage/img/tags.svg);
    position: absolute;
    left: 16px;
    bottom: 10px;
    width: 24px;
    height: 24px;
    /* background: var(--lorem-container); */
}
.div__post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: var(--lorem-item);
}

.div__postOptions{
    grid-area: postOptions;
    background: var(--lorem-container);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 13px;
}
.div__postOptions a {
    width: 24px;
    height: 24px;
    background: var(--lorem-item);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div__postInfo{
    grid-area: postInfo;
    background: var(--lorem-container);
    padding: 0 13px;
}

.div__postInfo span{
    display: block;
    padding-top: 10px;
    background: var(--lorem-item);
    font-family: "sf-ui-display-bold";
    color: var( --color-1);
}